<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.mekkablue.ShowStyles</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ShowStyles</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.8</string>
	<key>CFBundleVersion</key>
	<string>28</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Rainer Erich Scheichelbauer, 2014-2020</string>
	<key>NSPrincipalClass</key>
	<string>ShowStyles</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/mekkablue/ShowInterpolations/master/ShowStyles.glyphsReporter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/mekkablue/ShowInterpolations</string>
	<key>productReleaseNotes</key>
	<string>update binary files for Glyphs3</string>
</dict>
</plist>
